@inject NavigationManager NavigationService
@inject IJSRuntime JavascriptService

<button id="decrease-zoom-level"
        data-testid="decrease-zoom-level"
        @onclick="ChangeZoomAsync">

    <svg class="icon"
         fill="currentColor"
         height="32"
         style="transform: scale(75%);"
         viewBox="0 0 512 512"
         width="32"
         xmlns="http://www.w3.org/2000/svg">

        <path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM168 232l176 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-176 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/>
    </svg>
</button>