#local-storage-consent {
    bottom: 15px;
    left: 15px;
    position: fixed;
}

#local-storage-consent button {
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 8px;
    bottom: 15px;
    box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
    color: #0078c8;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 8px;
    position: fixed;
    transition: filter 0.15s;
    width: 40px;
    z-index: 999;
}

#local-storage-consent button:focus {
    filter: contrast(75%);
    outline: none;
    transform: scale(0.95);
}

#local-storage-consent button:hover {
    filter: contrast(85%);
}

#local-storage-consent button .icon {
    height: 24px;
    margin: 0;
    width: 24px;
}

#local-storage-consent-policy {
    background-color: white;
    border-radius: 8px;
    bottom: 15px;
    box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
    color: black;
    left: 15px;
    padding: 20px 25px;
    position: fixed;
    width: min(calc(100vw - 30px), 370px);
    z-index: 999;
}

#local-storage-consent-policy h3 {
    font-size: 24px;
    margin: 0;
    padding: 8px 0;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#local-storage-consent-policy p {
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#local-storage-consent-policy .submit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
}

#local-storage-consent-policy .submit button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    padding: 13px 15px;
    transition: filter 0.15s;
    width: 48%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#local-storage-consent-policy .submit button:focus {
    filter: contrast(75%);
    outline: none;
    transform: scale(0.95);
}

#local-storage-consent-policy .submit button:hover {
    filter: contrast(85%);
}

#local-storage-consent-policy .submit button.accept {
    background-color: #0078c8;
    color: white;
}

#local-storage-consent-policy .submit button.reject {
    background-color: #E8E8E8;
    color: #636363;
}