#navigate-to-location {
    align-items: center;
    background-color: white;
    border-color: #ebebeb;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #0078c8;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    transition-duration: 0.15s;
    transition-property: filter;
    width: 40px;
}

#navigate-to-location:hover {
    filter: contrast(85%);
}

#navigate-to-location .icon {
    height: 32px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 32px;
}