@inject ConsentService ConsentService
@inject NavigationManager NavigationService
@inject SchemeService SchemeService
@inject IHttpContextAccessor AccessorService
@inject IJSRuntime JavascriptService

@if (SchemeState == SchemeType.System)
{
    <button id="preferred-color-scheme"
            data-testid="preferred-color-scheme"
            @onclick="ChangeSchemeAsync">

        <svg class="icon"
             fill="currentColor"
             height="32"
             style="transform: scale(87.5%);"
             viewBox="0 0 512 512"
             width="32"
             xmlns="http://www.w3.org/2000/svg">

            <path d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 376c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm0-128c-53.02 0-96 42.98-96 96s42.98 96 96 96c-106.04 0-192-85.96-192-192S141.96 64 248 64c53.02 0 96 42.98 96 96s-42.98 96-96 96zm0-128c-17.67 0-32 14.33-32 32s14.33 32 32 32 32-14.33 32-32-14.33-32-32-32z"/>
        </svg>
    </button>
}

@if (SchemeState == SchemeType.Dark)
{
    <button id="preferred-color-scheme"
            data-testid="preferred-color-scheme"
            @onclick="ChangeSchemeAsync">

        <svg class="icon"
             fill="currentColor"
             height="32"
             style="transform: scale(75%);"
             viewBox="0 0 512 512"
             width="32"
             xmlns="http://www.w3.org/2000/svg">

            <path d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"/>
        </svg>
    </button>
}

@if (SchemeState == SchemeType.Light)
{
    <button id="preferred-color-scheme"
            data-testid="preferred-color-scheme"
            @onclick="ChangeSchemeAsync">

        <svg class="icon"
             fill="currentColor"
             height="32"
             style="transform: scale(87.5%);"
             viewBox="0 0 512 512"
             width="32"
             xmlns="http://www.w3.org/2000/svg">

            <path d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z"/>
        </svg>
    </button>
}