#source-code-repository {
    bottom: max(var(--safe-bottom), 15px);
    left: calc(max(var(--safe-left), 15px) + 55px);
    position: absolute;
}

@media (max-width: 768px) {
    #source-code-repository {
        bottom: calc(max(var(--safe-bottom), 15px) + 296px + 90px);
    }
}

#source-code-repository button {
    align-items: center;
    background-color: white;
    border-color: #ebebeb;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #0078c8;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    transition-duration: 0.15s;
    transition-property: filter;
    width: 40px;
    z-index: 9999;
}

#source-code-repository button:hover {
    filter: contrast(85%);
}

#source-code-repository button .icon {
    height: 32px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 32px;
}