#source-code-repository {
    align-items: center;
    background-color: var(--color-primary);
    border-color: var(--color-primary-border);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: var(--color-primary-surface);
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transition-property: background-color;
    width: 40px;
}

#source-code-repository:hover {
    background-color: var(--color-primary-hover);
}

#source-code-repository .icon {
    height: 32px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 32px;
}