<RunSettings>
    
    <RunConfiguration>
        <EnvironmentVariables>
            <DEBUG>pw:api</DEBUG>
            <DOTNET_ENVIRONMENT>Testing</DOTNET_ENVIRONMENT>
        </EnvironmentVariables>
    </RunConfiguration>
    
    <xUnit>
        <MaxParallelThreads>1</MaxParallelThreads>
    </xUnit>
    
</RunSettings>