<RunSettings>
    
    <RunConfiguration>
        <EnvironmentVariables>
            <DEBUG>pw:api</DEBUG>
            <ASPIRE_CONTEXT>Testing</ASPIRE_CONTEXT>
        </EnvironmentVariables>
    </RunConfiguration>
    
    <xUnit>
        <MaxParallelThreads>1</MaxParallelThreads>
    </xUnit>
    
</RunSettings>