@* ReSharper disable all *@

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link rel="stylesheet" href="@Assets["site.css"]" />
    <link rel="stylesheet" href="@Assets["TramTimes.Web.Site.styles.css"]" />
    
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>
    
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    <script src="_framework/blazor.web.js" autostart="false"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function()
        {
            Blazor.start();
        });
    </script>
    
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</body>

</html>