#home-telerik-map-tiny {
    height: 100%;
    position: absolute;
    width: 100%;
}

#home-telerik-map-small {
    height: 100%;
    position: absolute;
    width: 100%;
}

#home-telerik-map-medium {
    height: 100%;
    position: absolute;
    width: 100%;
}

#home-telerik-map-large {
    height: 100%;
    position: absolute;
    width: 100%;
}

#home-telerik-map-ultra {
    height: 100%;
    position: absolute;
    width: 100%;
}