#privacy {
    display: grid;
    grid-template-columns: 1fr calc(var(--safe-right) + 296px);
    grid-template-rows: 100%;
    height: 100dvh;
    width: 100%;
}

@media (max-width: 576px) {
    #privacy {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 296px;
    }
}

/*#region telerik-auto-complete */

#privacy-telerik-auto-complete {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 0;
    margin-left: max(var(--safe-left), 15px);
    margin-right: 0;
    margin-top: max(var(--safe-top), 15px);
    width: min(calc(100% - max(var(--safe-left), 15px) - max(var(--safe-left), 15px)), 400px);
}

#privacy-telerik-auto-complete__result {
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 0.67fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

#privacy-telerik-auto-complete__result .name {
    cursor: pointer;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#privacy-telerik-auto-complete__result .direction {
    cursor: pointer;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#privacy-telerik-auto-complete__result .services {
    grid-area: 1 / 2 / 3 / 3;
}

#privacy-telerik-auto-complete__result .services ul {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: right;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#privacy-telerik-auto-complete__result .services ul li.default {
    background-color: #0078c8;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-auto-complete__result .services ul li.blue {
    background-color: #204f82;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-auto-complete__result .services ul li.purp {
    background-color: #80276a;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-auto-complete__result .services ul li.tt {
    background-color: black;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-auto-complete__result .services ul li.yell {
    background-color: #f1bd40;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-auto-complete__unknown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

#privacy-telerik-auto-complete__unknown .error {
    cursor: default;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#privacy-telerik-auto-complete__unknown .message {
    cursor: default;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#endregion */

/*#region telerik-map */

#privacy-telerik-map {
    background-color: #d7d0ca;
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
}

#privacy-telerik-map__tooltip {
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    width: 200px;
}

#privacy-telerik-map__tooltip .name {
    color: white;
    font-size: smaller;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services {
    overflow: auto;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#privacy-telerik-map__tooltip .services ul li.default {
    background-color: #0078c8;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.blue {
    background-color: #204f82;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.purp {
    background-color: #80276a;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.tt {
    background-color: black;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.yell {
    background-color: #f1bd40;
    color: black;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/*#endregion */

/*#region telerik-list-view */

#privacy-telerik-list-view {
    background-color: white;
    box-sizing: border-box;
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: var(--safe-right);
    padding-top: 0;
    width: 100%;
}

@media (max-width: 576px) {
    #privacy-telerik-list-view {
        grid-area: 2 / 1 / 3 / 2;
    }
}

#privacy-telerik-list-view__result {
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 0.67fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    width: 100%;
}

#privacy-telerik-list-view__result:hover {
    background-color: #ebebeb;
}

#privacy-telerik-list-view__result .name {
    cursor: pointer;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#privacy-telerik-list-view__result .direction {
    cursor: pointer;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#privacy-telerik-list-view__result .services {
    grid-area: 1 / 2 / 3 / 3;
}

#privacy-telerik-list-view__result .services ul {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: right;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#privacy-telerik-list-view__result .services ul li.default {
    background-color: #0078c8;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-list-view__result .services ul li.blue {
    background-color: #204f82;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-list-view__result .services ul li.purp {
    background-color: #80276a;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-list-view__result .services ul li.tt {
    background-color: black;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

#privacy-telerik-list-view__result .services ul li.yell {
    background-color: #f1bd40;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
}

/*#endregion */

/*#region telerik-skeleton */

#privacy-telerik-skeleton {
    background-color: white;
    box-sizing: border-box;
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: var(--safe-right);
    padding-top: 0;
    width: 100%;
}

@media (max-width: 576px) {
    #privacy-telerik-skeleton {
        grid-area: 2 / 1 / 3 / 2;
    }
}

#privacy-telerik-skeleton__result {
    box-sizing: border-box;
    column-gap: 8px;
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 0.67fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    width: 100%;
}

#privacy-telerik-skeleton__result .name {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
}

#privacy-telerik-skeleton__result .direction {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
}

#privacy-telerik-skeleton__result .services {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: 1 / 2 / 3 / 3;
}

/*#endregion */