/*#region privacy */

#privacy.accepted {
    display: grid;
    grid-template-columns: 1fr 160px calc(var(--safe-right) + 296px);
    grid-template-rows: 100%;
    height: 100dvh;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 768px) {
    #privacy.accepted {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 90px 296px;
    }
}

#privacy.rejected {
    display: grid;
    grid-template-columns: 1fr calc(var(--safe-right) + 296px);
    grid-template-rows: 100%;
    height: 100dvh;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 768px) {
    #privacy.rejected {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 296px;
    }
}

/*#endregion */

/*#region telerik-map */

#privacy-telerik-map {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
}

#privacy-telerik-map:focus {
    outline: none;
}

#privacy-telerik-map__tooltip {
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    width: 200px;
}

#privacy-telerik-map__tooltip .services {
    overflow: auto;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#privacy-telerik-map__tooltip .services ul li.default {
    background-color: var(--color-base);
    color: var(--color-base-surface);
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.blue {
    background-color: var(--route-blue);
    color: var(--route-blue-surface);
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.purp {
    background-color: var(--route-purp);
    color: var(--route-purp-surface);
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.tt {
    background-color: var(--route-tt);
    color: var(--route-tt-surface);
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

#privacy-telerik-map__tooltip .services ul li.yell {
    background-color: var(--route-yell);
    color: var(--route-yell-surface);
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

/*#endregion */

/*#region banner-horizontal */

#privacy-banner-horizontal {
    align-items: center;
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
    height: 90px;
    justify-content: center;
    width: 100%;
}

@media (min-width: 769px) {
    #privacy-banner-horizontal {
        display: none;
    }
}

#privacy.rejected #privacy-banner-horizontal {
    display: none;
}

#privacy-banner-horizontal ._320x50 {
    display: none;
    height: 50px;
    width: 320px;
}

#privacy-banner-horizontal ._468x60 {
    display: none;
    height: 60px;
    width: 468px;
}

#privacy-banner-horizontal ._728x90 {
    display: none;
    height: 90px;
    width: 728px;
}

/*#endregion */

/*#region banner-vertical */

#privacy-banner-vertical {
    align-items: center;
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    justify-content: center;
    width: 160px;
}

@media (max-width: 768px) {
    #privacy-banner-vertical {
        display: none;
    }
}

#privacy.rejected #privacy-banner-vertical {
    display: none;
}

#privacy-banner-vertical ._160x300 {
    display: none;
    height: 300px;
    width: 160px;
}

#privacy-banner-vertical ._160x600 {
    display: none;
    height: 600px;
    width: 160px;
}

/*#endregion */

/*#region telerik-list-view */

#privacy-telerik-list-view {
    box-sizing: border-box;
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: var(--safe-right);
    padding-top: 0;
    width: 100%;
}

@media (max-width: 768px) {
    #privacy-telerik-list-view {
        grid-area: 3 / 1 / 4 / 2;
    }
}

#privacy.rejected #privacy-telerik-list-view {
    grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 768px) {
    #privacy.rejected #privacy-telerik-list-view {
        grid-area: 2 / 1 / 3 / 2;
    }
}

#privacy-telerik-list-view:focus {
    outline: none;
}

#privacy-telerik-list-view__result {
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 0.67fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    width: 100%;
}

#privacy-telerik-list-view__result .name {
    cursor: pointer;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

#privacy-telerik-list-view__result .direction {
    cursor: pointer;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

#privacy-telerik-list-view__result .services {
    grid-area: 1 / 2 / 3 / 3;
}

#privacy-telerik-list-view__result .services ul {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: right;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#privacy-telerik-list-view__result .services ul li.default {
    background-color: var(--color-base);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--color-base-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-list-view__result .services ul li.blue {
    background-color: var(--route-blue);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-blue-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-list-view__result .services ul li.purp {
    background-color: var(--route-purp);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-purp-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-list-view__result .services ul li.tt {
    background-color: var(--route-tt);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-tt-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-list-view__result .services ul li.yell {
    background-color: var(--route-yell);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-yell-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

/*#endregion */

/*#region telerik-skeleton */

#privacy-telerik-skeleton {
    box-sizing: border-box;
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: var(--safe-right);
    padding-top: 0;
    width: 100%;
}

@media (max-width: 768px) {
    #privacy-telerik-skeleton {
        grid-area: 3 / 1 / 4 / 2;
    }
}

#privacy.rejected #privacy-telerik-skeleton {
    grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 768px) {
    #privacy.rejected #privacy-telerik-skeleton {
        grid-area: 2 / 1 / 3 / 2;
    }
}

#privacy-telerik-skeleton__result {
    box-sizing: border-box;
    column-gap: 8px;
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 0.67fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    width: 100%;
}

#privacy-telerik-skeleton__result .name {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
}

#privacy-telerik-skeleton__result .direction {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
}

#privacy-telerik-skeleton__result .services {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: 1 / 2 / 3 / 3;
}

/*#endregion */

/*#region telerik-auto-complete */

#privacy-telerik-auto-complete {
    align-self: start;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    margin-bottom: 0;
    margin-left: max(var(--safe-left), 15px);
    margin-right: 0;
    margin-top: max(var(--safe-top), 15px);
    width: min(calc(100% - max(var(--safe-left), 15px) - max(var(--safe-right), 15px) - 55px), 400px);
}

#privacy-telerik-auto-complete__result {
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 0.67fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

#privacy-telerik-auto-complete__result .name {
    cursor: pointer;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

#privacy-telerik-auto-complete__result .direction {
    cursor: pointer;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

#privacy-telerik-auto-complete__result .services {
    grid-area: 1 / 2 / 3 / 3;
}

#privacy-telerik-auto-complete__result .services ul {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: right;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#privacy-telerik-auto-complete__result .services ul li.default {
    background-color: var(--color-base);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--color-base-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-auto-complete__result .services ul li.blue {
    background-color: var(--route-blue);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-blue-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-auto-complete__result .services ul li.purp {
    background-color: var(--route-purp);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-purp-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-auto-complete__result .services ul li.tt {
    background-color: var(--route-tt);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-tt-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-auto-complete__result .services ul li.yell {
    background-color: var(--route-yell);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    color: var(--route-yell-surface);
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
}

#privacy-telerik-auto-complete__unknown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

#privacy-telerik-auto-complete__unknown .error {
    cursor: default;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

#privacy-telerik-auto-complete__unknown .message {
    cursor: default;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

/*#endregion */

/*#region navigate-to-location */

#privacy-navigate-to-location {
    align-self: start;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: max(var(--safe-right), 15px);
    margin-top: max(var(--safe-top), 15px);
    width: fit-content;
    z-index: 9997;
}

/*#endregion */

/*#region source-code-repository */

#privacy-source-code-repository {
    align-self: end;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    margin-bottom: max(var(--safe-bottom), 15px);
    margin-left: calc(max(var(--safe-left), 15px) + 55px);
    margin-right: 0;
    margin-top: 0;
    width: fit-content;
    z-index: 9998;
}

/*#endregion */

/*#region local-storage-consent */

#privacy-local-storage-consent {
    align-self: end;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    margin-bottom: max(var(--safe-bottom), 15px);
    margin-left: max(var(--safe-left), 15px);
    margin-right: 0;
    margin-top: 0;
    width: fit-content;
    z-index: 9999;
}

/*#endregion */