/*#region stop-telerik-map */

#stop-telerik-map {
    height: 100%;
    position: absolute;
    width: 100%;
}

#stop-telerik-map__tooltip {
    padding-bottom: 2px;
    padding-top: 2px;
    width: 200px;
}

#stop-telerik-map__tooltip__title {
    color: white;
    font-size: smaller;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 2px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-map__tooltip__services {
    overflow: auto;
    position: relative;
    width: 100%;
}

#stop-telerik-map__tooltip__services ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stop-telerik-map__tooltip__services ul li.default {
    background-color: #0078c8;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-map__tooltip__services ul li.blue {
    background-color: #204f82;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-map__tooltip__services ul li.purp {
    background-color: #80276a;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-map__tooltip__services ul li.tt {
    background-color: #000000;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-map__tooltip__services ul li.yell {
    background-color: #f1bd40;
    color: black;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

/*#endregion */

/*#region stop-telerik-auto-complete */

#stop-telerik-auto-complete {
    left: 15px;
    padding: 0;
    position: absolute;
    top: 15px;
    width: min(calc(100vw - 30px), 420px);
}

#stop-telerik-auto-complete__result {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    position: relative;
    width: 100%;
}

#stop-telerik-auto-complete__result__name {
    cursor: pointer;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__result__description {
    cursor: pointer;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__result__services {
    grid-area: 1 / 2 / 3 / 3;
}

#stop-telerik-auto-complete__result__services ul {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stop-telerik-auto-complete__result__services ul li.default {
    background-color: #0078c8;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__result__services ul li.blue {
    background-color: #204f82;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__result__services ul li.purp {
    background-color: #80276a;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__result__services ul li.tt {
    background-color: #000000;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__result__services ul li.yell {
    background-color: #f1bd40;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__unknown {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: relative;
    width: 100%;
}

#stop-telerik-auto-complete__unknown__name {
    cursor: default;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#stop-telerik-auto-complete__unknown__description {
    cursor: default;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

/*#endregion */

/*#region stop-local-storage-consent */

#stop-local-storage-consent {
    bottom: 15px;
    left: 15px;
    position: fixed;
}

/*#endregion */