/*#region variables */

:root {
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --safe-left: env(safe-area-inset-left, 0px);
    --safe-right: env(safe-area-inset-right, 0px);
    --safe-top: env(safe-area-inset-top, 0px);
}

/*#endregion */

/*#region global */

html, body {
    background-color: #0078c8;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
}

a {
    background: none;
    color: initial;
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:active {
    background: none;
    color: initial;
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:focus {
    background: none;
    color: initial;
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:hover {
    background: none;
    color: initial;
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:visited {
    background: none;
    color: initial;
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

/*#endregion */

/*#region kendo */

.k-input {
    font-size: 16px !important;
    min-height: 40px !important;
}

.k-list-item {
    color: initial !important;
    font-weight: initial !important;
}

.k-map-marker {
    align-items: flex-start;
    background-image: url(../img/pin.png);
    background-repeat: no-repeat;
    background-size: 40px;
    color: white;
    display: flex;
    font-size: small;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    user-select: none;
    width: 40px;
}

.k-nodata {
    color: initial !important;
    font-weight: initial !important;
}

.k-pos-bottom {
    bottom: 0 !important;
}

.k-pos-left {
    left: 0 !important;
}

.k-pos-right {
    right: 0 !important;
}

.k-pos-top {
    top: 0 !important;
}

.k-tooltip {
    display: flex !important;
}

@media (hover: none) {
    .k-tooltip {
        display: none !important;
    }
}

/*#endregion */