/*#region global */

html, body {
    background-color: #d7d0ca;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.k-pos-bottom {
    bottom: 0;
}

.k-pos-left {
    left: 0;
}

.k-pos-right {
    right: 0;
}

.k-pos-top {
    top: 0;
}

/*#endregion */

/*#region global-telerik-map */

.k-map-marker {
    align-items: flex-start;
    background-image: url(https://cdn.mapmarker.io/api/v2/font-awesome/v5/pin?background=0078c8&size=40);
    background-repeat: no-repeat;
    background-size: 40px;
    color: white;
    display: flex;
    font-size: small;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding: 4px;
    width: 40px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

/*#endregion */

/*#region global-telerik-auto-complete */

.k-list-item {
    color: initial !important;
    font-weight: initial !important;
}

.k-nodata {
    color: initial !important;
    font-weight: initial !important;
}

/*#endregion */