/*#region global */

html, body {
    background-color: #d7d0ca;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    background: none;
    color: initial;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:active {
    background: none;
    color: initial;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:focus {
    background: none;
    color: initial;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:hover {
    background: none;
    color: initial;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

a:visited {
    background: none;
    color: initial;
    font-weight: inherit;
    outline: none;
    text-decoration: underline;
}

/*#endregion */

/*#region kendo */

.k-list-item {
    color: initial !important;
    font-weight: initial !important;
}

.k-map-marker {
    align-items: flex-start;
    background-image: url(https://cdn.mapmarker.io/api/v2/font-awesome/v5/pin?background=0078c8&size=40);
    background-repeat: no-repeat;
    background-size: 40px;
    color: white;
    display: flex;
    font-size: small;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding: 4px;
    width: 40px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

.k-nodata {
    color: initial !important;
    font-weight: initial !important;
}

.k-pos-bottom {
    bottom: 0;
}

.k-pos-left {
    left: 0;
}

.k-pos-right {
    right: 0;
}

.k-pos-top {
    top: 0;
}

/*#endregion */

/*#region telerik-auto-complete */

#telerik-auto-complete {
    left: 15px;
    padding: 0;
    position: absolute;
    top: 15px;
    width: min(calc(100vw - 30px), 420px);
}

#telerik-auto-complete__result {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    position: relative;
    width: 100%;
}

#telerik-auto-complete__result .name {
    cursor: pointer;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__result .direction {
    cursor: pointer;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__result .services {
    grid-area: 1 / 2 / 3 / 3;
}

#telerik-auto-complete__result .services ul {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#telerik-auto-complete__result .services ul li.default {
    background-color: #0078c8;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__result .services ul li.blue {
    background-color: #204f82;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__result .services ul li.purp {
    background-color: #80276a;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__result .services ul li.tt {
    background-color: #000000;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__result .services ul li.yell {
    background-color: #f1bd40;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__unknown {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: relative;
    width: 100%;
}

#telerik-auto-complete__unknown .error {
    cursor: default;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-auto-complete__unknown .message {
    cursor: default;
    font-size: smaller;
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

/*#endregion */

/*#region telerik-map */

#telerik-map {
    height: 100%;
    position: absolute;
    width: 100%;
}

#telerik-map__tooltip {
    padding-bottom: 2px;
    padding-top: 2px;
    width: 200px;
}

#telerik-map__tooltip .name {
    color: white;
    font-size: smaller;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 2px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-map__tooltip .services {
    overflow: auto;
    position: relative;
    width: 100%;
}

#telerik-map__tooltip .services ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#telerik-map__tooltip .services ul li.default {
    background-color: #0078c8;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-map__tooltip .services ul li.blue {
    background-color: #204f82;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-map__tooltip .services ul li.purp {
    background-color: #80276a;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-map__tooltip .services ul li.tt {
    background-color: #000000;
    color: white;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

#telerik-map__tooltip .services ul li.yell {
    background-color: #f1bd40;
    color: black;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-indent: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
    .prevent-select {
        user-select: none;
        -webkit-user-select: none;
    }
}

/*#endregion */