name: CI

on:
  push:
    branches-ignore: [ master ]
    paths-ignore:
      - 'LICENSE'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - '**.md'

permissions:
  contents: read
  id-token: write

concurrency:
  group: ci-${{ github.event.pull_request.head.sha || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: .NET setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: .NET version
        run: dotnet --version

      - name: .NET nuget
        run: |
          dotnet new nugetconfig
          dotnet nuget add source 'https://nuget.telerik.com/v3/index.json' --name 'telerik' --username 'api-key' --password '${{ secrets.TELERIK_KEY }}' --configfile './nuget.config' --store-password-in-clear-text
          sed -i '/<\/configuration>/e sed "s/^/  /" nuget.xml; echo' ./nuget.config
          sed 's/ClearTextPassword="[^"]*"/ClearTextPassword="***REDACTED***"/' ./nuget.config

      - name: .NET restore
        run: dotnet restore

      - name: .NET build
        run: dotnet build --no-restore --configuration Debug
        env:
          TELERIK_LICENSE: ${{ secrets.TELERIK_LICENSE }}